*{box-sizing: border-box;}
body
{
    background-color: silver;
    margin:0
}
div
{
    max-width: 1200px;
    margin: auto;
    background-color: lightseagreen;
}
header
{
    text-align: center;
    background-color: lightblue;
    padding: 10px;
  
}
header h1
{
    font: bold 2em sans-serif;
    text-transform: capitalize;
}
nav
{
    float: left;
    width: 20%;
}
nav ul
{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
nav ul li
{
    margin: 10px;
}
nav ul li a
{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font: 1em Arial;
    color:black;
    background: lightblue;
    padding: 10px 20px;
    border-radius: 10px; 
}
main
{
    width: 60%;
    min-height: 700px;
    float: left;
    background-color: white;
}
main iframe
{
    border: 0;
    width: 100%;
    height: 700px;
}
aside
{
   float: right;
   width: 20%;
}
aside img
{
    width:100%;
    height: 700px;
}
footer
{
    clear: both;
    background-color: lightblue;
    text-align: center;
    font: .8em Arial, sans-serif;
    color:black;
    text-align: center;
    padding: 15px
}

@media only screen and (max-width: 768px)
{
    nav, main,aside {
        width: 100%;
    }

}